repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=10240"]   # allow files up to 10 MB
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        # args: ['--baseline', '.secrets.baseline']
        exclude: '(uv.lock|.env.example)'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args: [--fix]     # auto-fix lint issues when possible
      - id: ruff-format   # code formatter